html {
	box-sizing: border-box;
}
body {
	font-family: 'Gothic A1', sans-serif;
	line-height: 2;
}
.contenedor {
	width: 90%;
	margin: 0 auto;
}
a {
	text-decoration: none;
}
h1 {
	font-size: 48px;
	line-height: 1.2;
}
h2 {
	font-size: 40px;
	line-height: 1.2;
}
h3 {
    font-size: 32px;
    line-height: 1.2;
}
h4 {
   font-size: 28px;
   line-height: 1.2;
}
img {
	max-width: 100%;
}
.sinmargen {
	margin: 0;
}
.sinpadding {
	padding: 0;
}
.centrar-texto {
	text-align: center;
}

/* HEADER */
.header {
	background-image: url(banner.jpg);
	height: 300px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center bottom;
}
.headertexto {
	text-align: center;
	color: white;
	margin-top: 50px;
}

.barra {
	display: flex;
	justify-content: space-between;
	align-items: center;
	
}
.logo {
  color: white;
}
.logonombre {
 font-weight: normal;
}
.logobold {
font-weight: bolder;
}

.navegacionenlace {
	color: white;
	font-size: 18px;
}
@media (min-width: 750px) {.navegacion {
	display: flex;
	gap:20px;
	
}
}
@media (max-width: 750px) {
	.navegacion {
		display: grid;
		grid-template-columns: 1fr;
		text-align: center;
		margin-top: 0;
		
	}
	.navegacionenlace {
		display: grid;
		grid-template-columns: 1fr;
		text-align: center;
		margin-top: 0px;
	}
	.barra {
		display: grid;
		grid-template-columns: 1fr
	}
	.header {
		height: auto;
	}
	.headertexto {
		padding: 1px 0;
	}
	

}
.footer {
	background-color: black;
	color: white;
	padding: 0;

	margin-top:40px;

}
.contenedor h3 {
	font-weight: bolder;
}
/** Contacto **/
.mensajeenviado {
	background-color: green;
	color: white;
	padding: 10px;
	text-align: center;
	text-transform: uppercase;
}
.error{
	background-color: darkred;
	color: white;
	padding: 10px;
	text-align: center;
	text-transform: uppercase;
}
.contactobg {
    background-image: url(contacto.jpg);
    height: 400px;
    background-size: cover;
    background-repeat: no-repeat;
}
.boton {
	background-color: black;
	color: white;
	font-weight: bolder;
	text-align: left;
	padding: 10px 20px;
	text-decoration: none;
	text-transform: uppercase;
	display: inline-block;
	margin-bottom: 20px;
    cursor: pointer;
}
.formulario {
    width: 80%;
    background-color: white;
	padding: 20px 8px;
	margin: -150px auto 0 auto;
	border: 1px solid white;
	border-radius: 10px;

}
.campo {
    display: flex;
    padding: 5px;
    


}
@media (min-width: 768px) {
    .campo {
        padding: 10px 40px;
    }
}
.campooseccion {
    flex: 0 0 90px;
    text-align: left;
    

    

}
.campofield {
 flex: 1;
}
.campofieldtextera {
    height: 200px;
}